@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --hover-color: #f3971b;
  --body-bg-color: #e3e3e3;
  --white: #ffffff;
  --text-color: #000000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --light-black: rgb(23, 23, 23);
  --dark-green: #016034;
  --orange: #d97919;
  --text-color: #000;
  --dark-orange: #c26100;
  --body-bg-color: #e3e3e3;
}

/* --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062; */

/* Header CSS Starts  */

.logo {
  height: 79px;
  width: 150px;
}
.header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 7px 5px -6px #0000009c;
  z-index: 111;
  width: 100vw;
  left: 0;
  padding: 3px 30px;
  margin-bottom: 1rem;
  position: sticky;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin-right: 3rem;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 5px;
  font-weight: 600;
}

.nav-items > ul > li > .shopping-cart {
  font-size: larger;
}

.nav-items > ul > li > .logout-btn,
.nav-items > ul > li > .login-btn {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  background-color: Transparent;
  font-size: inherit;
  cursor: pointer;
  font-weight: 600;
}

.nav-items > ul > li:hover {
  background-color: var(--hover-color);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}

.nav-items > ul > li .items-count {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-style: normal;
}
.nav-items > ul > li .items-count:hover {
  transform: scale(1.03);
  color: black;
}

/* Header CSS Ends  */

/* Search Box CSS Starts */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
  box-sizing: border-box;
}

.search-container .search-input {
  padding: 10px;
  /* margin: 5px 0px; */
  /* border: 2px solid red; */
  width: 35rem;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--hover-color);
}

.search-container .search-btn {
  padding: 10px;
  width: 6rem;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid var(--hover-color);
  border-left: none;
  background-color: var(--hover-color);
  color: var(--white);
  font-weight: 600;
}
.search-container .search-btn:hover {
  background-color: #f37e3f;
  color: var(--black);
  border-left: 1px solid var(--hover-color);
}

.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 0;
}

/* Search Box CSS Ends */

/* Restaurant List CSS Start */

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.card {
  width: 250px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 7px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.01);
}

.card > img {
  width: 100%;
  border-radius: 5px;
}

.card h5 {
  font-weight: lighter;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  /* border: 2px solid red; */
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 12px;
  padding: 0 2px 0;
  margin-top: 10px;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: var(--white);
  padding: 5px;
  margin-top: 5px;
}

.card > span > h4:first-child .star {
  font-size: 10px;
  padding: 2px 5px 3px 0;
}

/* Restaurant List CSS End */

/* Restaurant Menu CSS Start */
.restaurant-menu {
  margin-top: 50px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
  /* border: 2px solid red; */
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: 60%;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  overflow: hidden;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 5px;
}
.add-btn:hover {
  background-color: rgb(251, 141, 23);
  color: #fff;
  font-weight: 700;
}

/* Restaurant Menu End */

/*Shimmer Card CSS Start*/
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}
/*Shimmer Card CSS End*/

/* Shimmer Menu Card CSS Start */

.restaurant-summary .shimmer-img {
  height: 144px;
  width: 230px;
}

.shimmer-menu-card {
  display: flex;
  justify-content: space-evenly;
  width: 848px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-item-details {
  width: 438px;
}

.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 118px;
  height: 150px;
}
.shimmer-img-wrapper .shimmer-img {
  width: 118px;
  height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 94px;
  height: 34px;
  margin-top: 10px;
}

.shimmer-w60 {
  width: 60%;
  margin-top: 10px;
}

.shimmer-w40 {
  width: 40%;
  margin-top: 10px;
}

.shimmer-w20 {
  width: 20%;
  margin-top: 4px;
}
/* Shimmer Menu Card CSS End */

/*Animation to Shimmer Component Card and Menu card Start*/
.stroke {
  height: 15px;
  background: #777;
}
.stroke-color {
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
/*Animation to Shimmer Component Card and Menu card End*/

/* Body CSS End*/

/* Error page CSS Start */
.error-page {
  text-align: center;
  background-color: var(--body-bg-color);
  height: 100vh;
  width: auto;
}
.error-page .error-data {
  padding: 10px 0px;
}

.error-page .error-back-home {
  padding: 20px;
}
.error-page .error-back-home a {
  text-decoration: none;
  background-color: var(--orange);
  color: var(--light-black);
  padding: 10px 15px;
  border-radius: 5px;
}

.error-page .error-back-home a:hover {
  background-color: var(--dark-green);
}

/* About Section CSS Start */

.about-profile-btn {
  display: flex;
  margin: 5px auto;
  padding: 10px 25px;
  background-color: var(--hover-color);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.about-profile-btn:hover {
  color: var(--hover-color);
  background-color: #ffffff;
  border: 1px solid var(--hover-color);
}

.about-restaurant-section {
  display: flex;
  flex-direction: row;
}
.about-restaurant-section .about-text {
  width: 60%;
  justify-content: center;
  align-items: center;
  font-style: normal;
  text-align: justify;
  padding: 10px;
}

.about-restaurant-section .about-text p {
  padding: 0px 100px;
}
.about-restaurant-section .about-text h3 {
  text-align: center;
  margin: 10px;
}
.about-restaurant-section .restaurant-img {
  overflow-y: hidden;
  text-align: center;
  width: 40%;
  height: 400px;
}

.about-restaurant-section .restaurant-img img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Profile Card Start */
.profile-container {
  /* border: 2px solid red; */
  box-shadow: 1px 2px 5px 3px #0000009c;
  margin: 20px auto;
  width: 40%;
}
.founder-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.founder-profile-card h2 {
  border-bottom: 2px solid rgb(79, 79, 79);
}

.founder-profile-card h3 {
  margin: 7px;
}
.founder-profile-card img {
  padding: 10px;
  border-radius: 40%;
  margin-top: 5px;
}
.founder-profile-card p {
  text-align: justify;
  margin: 5px;
}

.social-media {
  margin: 7px;
  overflow-y: hidden;
}

.social-media a {
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  font-size: 25px;
  transform: scale(1.02);
}
.social-media .linkedin {
  color: #0a66c2;
}
.social-media .twitter {
  color: #00acee;
}
.social-media .email {
  color: #c71610;
}
/* Profile Card End */

/* About Section CSS End */

/* Contact Section CSS Start  */
.contact-section {
  display: flex;
  justify-content: center;
}
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  /* border: 2px solid rgb(78, 3, 255); */
  width: 25%;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
}
.contact-section > .contact-page > .title {
  margin: 1rem 0rem;
  border-bottom: 2px solid rgb(132, 125, 125);
}
.contact-page Form {
  /* border: 2px solid red; */
  width: 80%;
  margin: 6px 0px;
  padding: 4px;
}
.contact-page > Form > .input-section > label {
  font-weight: 600;
}
.contact-page > Form > .input-section > .input > .input-box {
  /* border: 3px solid red; */
  padding: 7px 10px;
  width: 100%;
  border-radius: 5px;
}
.contact-section > .contact-page > Form > .input-section > .error {
  color: red;
  font-size: 12px;
}

.contact-section > .contact-page > Form > .contact-btn {
  padding: 4px 10px;
  margin: 9px auto;
  width: 9rem;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* Contact Section CSS End  */

/* Instamart CSS Start */
.accordion {
  /* border: 2px solid green; */
  margin: 5px;
}
.accordion h4 {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin: 6px 0px;
  /* border: 3px solid green; */
  overflow-x: none;
  height: 2.5rem;
}
.accordion > h4 > span {
  margin: 4px;
  border-bottom: thick double rgb(177, 168, 168);
}

.accordion-card {
  /* border: 1px solid black; */
  margin: 10px;
  border-bottom: 1px solid rgb(156, 150, 150);
  border-left: 2px solid rgb(156, 150, 150);
}
.accordion-card > h3 {
  margin-left: 7px;
  padding: 4px;
  margin-bottom: 4px;
}

.accordion-card > h3 > span {
  font-size: 18px;
  font-weight: 400;
  /* border-bottom: 1px solid rgb(146, 147, 144); */
}

.accordion-btn {
  padding: 2px 9px;
  margin-left: 7px;
  border-radius: 10px;
  margin-bottom: 4px;
}
.accordion .acc-desc {
  margin-left: 7px;
  font-size: 14px;
}

.useContext-data-retrive {
  margin: 10px 5px;
  padding: 10px;
}

.useContext-data-retrive > h2 {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin: 6px 0px;
  /* border: 3px solid green; */
  overflow-x: none;
  height: 2.5rem;
}
.useContext-data-retrive > h2 > span {
  margin: 4px;
  border-bottom: thick double rgb(177, 168, 168);
}

.useContext-data-retrive h2,
input,
p,
h4 {
  margin: 7px 0px;
}

.useContext-data-retrive > input {
  padding: 10px 15px;
  margin: 5px;
  width: 25rem;
}

.useContext-data-retrive > p > h4 {
  font-size: 15px;
  font-weight: 600;
}
/* Instamart CSS End */

/* cart Item CSS Start  */
.all-cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cart-items-list {
  display: flex;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  width: 450px;
  height: auto;
}
.cart-item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.cart-item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
}

.cart-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 4px;
  margin: 4px;
}
.remove-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 10px;
}

.remove-btn:hover {
  background-color: rgb(251, 141, 23);
  color: #fff;
  font-weight: 700;
}

.btn {
  padding: 7px;
  margin: 4px;
  background-color: rgb(247, 123, 21);
  font-weight: 600;
  color: white;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(1.03);
  font-weight: 700;
  background-color: rgb(241, 111, 4);
}

/* cart Item CSS End  */

/*Footer CSS Start*/
.footer-container {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
}
.footer-container h3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-bottom: 3px;
}

.footer-container .footer-dev-name {
  /* font-bold hover:text-gray-500 font-serif ml-1 */
  margin-left: 4px;
  color: #0a1ef5;
}

/*Footer CSS End*/
